body {
    background-color:grey;
    font-family: Geneva;
}

h1 {
    color:black;
    text-align: center;
    background-color: gainsboro;
} 

#p-header {
    text-align: center;
}

div {
    background-color:gainsboro;
    font-size: x-large;
    border: 2px solid;
}

.button-link {
    display: inline-block;
    padding: 20px 40px;
    margin: 20px;
    font-size: x-large;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
}
