body {
    background-color:grey;
    font-family: Geneva;
}

h1 {
    color:black;
    text-align: center;
    background-color: gainsboro;
} 

#p-header {
    text-align: center;
}

div {
    background-color:gainsboro;
    font-size: larger;
    border: 2px solid;
}
