body {
    background-color:grey;
    font-family: Geneva;
}

.button-link {
    display: inline-block;
    padding: 20px 40px;
    margin: 20px;
    font-size: x-large;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
}

.button-container {
    text-align: center;
}

.title {
    color:black;
    text-align: center;
    background-color: gainsboro;
} 

.content-header {
    background-color:gainsboro;
    font-size: x-large;
    border: 2px solid;
    padding: 10px;
}
.content-body {
    background-color:gainsboro;
    font-size: x-large;
    border: 2px solid;
    padding: 10px;
}
.content-footer {
    background-color:gainsboro;
    font-size: x-large;
    border: 2px solid;
    text-align: right;
    padding: 10px;
}
